<html>

	{% block content %}
	<h1>{{title}}</h1>
		<form action="" method="post" name="event_search">
		{{form.hidden_tag()}}
		<p> Please enter the name of a runner:
			<br>{{form.runner_name(size=80)}}<br>
		</p>
		<p> Please enter DOB:
			<br>{{form.runner_dob(size=80)}}<br>
		</p>
		<p><input type="submit" value="Find runner"></p>
		</form>
	{% if posts %}
	<table id="t01">
	<thead>
	<tr>
		<th>runner_name</th>
		<th>runner_dob</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>{{ runner_name }}</td>
		<td>{{ runner_dob }}</td>
	</tr> 
	</tbody>
	</table>
	{% endif %}
	{% endblock %}
</html>